<html>
    <head>
      <script type="text/javascript" scr="{{url_for('static', filename='js/Chart.min.js')}}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      {% if title %}
      <title>{{ title }}Adaptive Web-Assignment</title>
      {% else %}
      <title>Assignment 1</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
      <div class="parent">
        <div class="menu">
           <h2>Assignment 1</h2>
          </div><!-- 
      <div class="row">
      <div class="col-sm-6"> -->
          <table>
            <tr>
              <td><a class="menu_a" href="/index">Home</a></td>
              {% if current_user.is_anonymous %}
                <td><a class="menu_a" href="{{ url_for('login') }}" >Login</a></td>
              {% else %}
                <td><a class="menu_a" href="{{ url_for('readme') }}">Readme</td>
                <td><a class="menu_a" href="{{ url_for('database_snap') }}">Database SnapShot</td>
                <td><a class="menu_a" href="{{ url_for('logout') }}">Logout</a></td>
              {% endif %}

            </tr>
          </table> 
        
      </div>
    </div>
        <hr>
        <div class="container">
          {% block content %}{% endblock %}
        </div>
        
    </body>
</html>